:root {
    --main-background-color: #ffffff;

    --main-font-color: #544837;
    --title-font-color: #2F281E;

    --button-color: #FF9900;
    --accent-color: #ffc6b1;
    --border-color: #BCD0E5;

    --main-font-family: 'Montserrat', sans-serif;
    --button-font-family: 'Poppins', sans-serif;
    --futer-font-family: 'Nanum Gothic', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    transition: all .1s ease-in;
}

body {
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

    color: var(--main-font-color);
    background-color: var(--main-background-color);
}

.container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

button {
    cursor: pointer;
}

/*   header   */

.main-header {
    padding-top: 17px;
    padding-bottom: 17px;
}

.flex-nav-box,
.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    gap: 20px;
}

.nav-list {
    font-size: 16px;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--button-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.logo:hover,
.logo:focus {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.activ {
    color: var(--button-color);
}

.nav-ligth-button,
.nav-dark-button {
    padding: 13px 25px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    cursor: pointer;
}

.nav-ligth-button {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background-color: var(--main-background-color);
    margin-right: 32px;
    color: var(--title-font-color);
}

.nav-dark-button {
    background-color: var(--button-color);
    border: 1px solid var(--button-color);
    border-radius: 4px;
    color: var(--main-background-color);
}


.nav-dark-button:hover,
.nav-dark-button:focus {
    border: 1px solid var(--border-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: var(--main-background-color);
    color: var(--title-font-color);
}

.nav-ligth-button:hover,
.nav-ligth-button:focus {
    background-color: var(--button-color);
    color: var(--main-background-color);
    border: 1px solid var(--button-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* /*  main   */

/*  title-section  */

.title-section .flex-nav-box {
    gap: 56px;
}

.title-section {
    padding: 70px 0;
}

.main-title {
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: var(--title-font-color);
}

.text-title-section {
    margin-top: 30px;
    margin-bottom: 20px;
}

.title-box .form-button {
    display: inline-block;
    text-align: center;
}

/*    section   section-tools    */

.section-tools .container {
    position: relative;
    z-index: 1;
}

.section-tools {

    position: relative;
    padding: 70px 0;
}

.section-tools::before {
    position: absolute;
    content: '';
    width: 2210px;
    height: 500px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: url("../images/bg.png") center no-repeat;
}

.second-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;

    color: var(--title-font-color);

    padding: 0 230px;
    margin-bottom: 50px;
}

.tools-item-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;

    color: var(--title-font-color);

    margin-top: 30px;
    margin-bottom: 16px;
}

.tools-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 45px;

    margin-bottom: 70px;
}

.form-button {
    display: block;
    margin: 0 auto;
    padding: 13px 40px;
    background-color: var(--button-color);
    border: 1px solid var(--button-color);
    border-radius: 4px;
    color: var(--main-background-color);

    font-family: var(--button-font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    margin-bottom: 70px;
}

.form-button:hover,
.form-button:focus {
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    background: var(--accent-color);
    color: var(--button-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}




/*    footer    */

.main-footer {
    padding-top: 70px;
    padding-bottom: 70px;
    border-top: 1px solid rgba(188, 208, 229, 0.496913);

}

.flex-box-footer {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

.footer-form {
    max-width: 340px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-title {
    font-family: var(--title-font-color);
    color: var(--title-font-color);
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.footer-links-list,
.footer-stuff-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;

    margin-top: 30px;
}

.footer-links-list .footer-links-item:not(:last-child),
.footer-stuff-list .footer-stuff-item:not(:last-child) {
    margin-bottom: 10px;
}

.footer-form-label {
    display: block;
}

.footer-form-input {
    height: 50px;
    max-width: 340px;
    width: 100%;
    outline: none;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 15px;

    font-size: 16px;
    line-height: 20px;
    color: var(--border-color);
    font-family: var(--main-font-family);

    cursor: pointer;
}

.footer-form-input:hover,
.footer-form-input:focus {
    border-color: var(--button-color);
}

.footer-form-button {
    display: block;
    max-width: 180px;
    padding: 13px 37px;
    background-color: var(--button-color);
    border: 1px solid var(--button-color);
    border-radius: 4px;
    color: var(--main-background-color);

    font-family: var(--button-font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.footer-form-button:hover,
.footer-form-button:focus {
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    background: var(--accent-color);
    color: var(--button-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.footer-links-item:hover,
.footer-links-item:focus,
.footer-stuff-item:hover,
.footer-stuff-item:focus {
    color: var(--button-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}